.footer__column-link{
    margin-bottom: 16px;
    color: white;
    text-decoration: inherit;
    line-height: 30px;
    font-size: 18px;
  }

.footer__column-link:hover {
  opacity: 0.6;
  transition: opasity 4s ease-in;
}