.table_theme_dark{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-collapse: collapse;
  }