.header__title{
    width: 730px;
    margin: 0;
    display: flex;
    margin-left: 64px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
  }