/* body, h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.header__logo_place_header{
  position: relative;
  z-index: 1;
  left: 64px;
  top: 30px;
  width: 183px;
  height: 32px;
}

.header__title{
  width: 730px;
  display: flex;
  margin-left: 64px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  z-index: 2;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;

}

.header__subtitle{
  width: 388px;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle_h2{
  line-height: 25px;
  font-size: 18px;
  font-weight:normal;
}

.header__link{
  color: #2f80ed;
  text-decoration: inherit;
}
.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic{
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.description{
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
}

.two-columns{
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px;

}

.two-columns__brief{
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.two-columns__main-text{
  width:80%;
  min-width: 784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  margin-bottom: 30px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.feynman{
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
  min-height: 790px;
}

.feynman__title{
  width: 648px;
  margin: auto;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.feynman__subtitle{
  margin-top: 70px;
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight:normal;
  text-align: justify;
  text-align: center;
}


.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: inherit;
  line-height: 51px;
  font-size: 36px;
  font-weight:normal;
}

.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.digits{
  margin-bottom: 100px;
}
.section-title{
  width: 60%;
  margin: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 100px;

}

.section-subtitle{
  width: 60%;
  margin: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;

}


.table{
  width: 1100px;
/* */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-collapse: collapse;
  position: relative;
}


.table__cell{
  width: 250px;
  margin-top: 60px;
  margin-bottom: 60px;
  vertical-align: top;
  padding-top: 60px;

}

.table__heading{
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;

}

.table__text{
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* и элемента с модификатором вида ключ-значение */
.kaufman{
  overflow: hidden;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;

}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 60px;
}
.kaufman__section-title_theme_dark{
  width: 60%;
  margin-top: 90px;
  align-content: center;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.kaufman__section-subtitle_theme_dark{
  width: 60%;
  margin-top: 20px;
  align-content: center;
  display: flex;
  justify-content: center;
  margin:auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}


.table_theme_dark{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-collapse: collapse;
}

.kaufman__table_tr_dark{
  vertical-align: top;
}

.table__heading_theme_dark{
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;

}

.table__text_theme_dark{
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.kaufman__triangle{
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  bottom: -300px;
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);

}

.footer{
  background-color: #1f1f1f;

  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  justify-content: center;
  display: flex;

}

.footer__columns{
  width: 90%;
  display: flex;
  border-collapse: collapse;
}

.footer__columns_left {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-basis: 711px;
}

.footer__columns_right {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.footer__columns_content_copyright{
  position: relative;
}

.footer__logo_place_footer{
  width: 183px;
  height: 35px;
  top: 0;
  left: 0;
}

.footer__author{
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 100px;
  left: 0;
  color: white;
}

.footer-space {
  width: 20%;
}
.footer__column-heading{
  margin-bottom: 20px;
  color: white;
}

.footer__column-links{
  color: white;
  line-height: 30px;
  font-size: 18px;
  text-decoration: inherit;
  list-style-type:none;
}
.footer__columns_content_info{
  border-bottom: 16px solid transparent;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__columns_content_social{
  border-bottom: 16px solid transparent;
  color: white;
  flex-direction: column;
}
.footer__column-link{
  margin-bottom: 16px;
  color: white;
  text-decoration: inherit;
  line-height: 30px;
  font-size: 18px;
}

.footer__social-icon{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
